.root {
    -fx-background-color: #212121;
    -fx-border-color: #212121;
    -fx-border-width: 1.5;
    -fx-border-radius: 10px;
}

.image-view {
    -fx-border-color: #1A73E8;
    -fx-border-width: 1.5;
}

.label-name {
    -fx-font-family: monospace;
    -fx-font-size: 19;
    -fx-font-weight: bold;
    -fx-text-fill: #F5F5F5;
}

.label-price {
    -fx-font-family: monospace;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #1A73E8;
}

.label-brand {
    -fx-font-family: monospace;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-text-fill: #F5F5F5;
}

.circle-color {
    -fx-border-color: #9E9E9E;
}

.button {
    -fx-background-color: none;
    -fx-font-family: monospace;
    -fx-font-size: 16;
    -fx-text-fill: #F5F5F5;
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #9E9E9E;
    -fx-cursor: pointer;
    -fx-start-margin: 0px;
    -fx-end-margin: 35px;
}

.button:pressed {
    -fx-border-radius: 10px;
    -fx-background-color: #9E9E9E;
}